body{
	background-image: url(../assets/patron.jpg);
}

main{

	width:1000px;
	min-height:200px;
	background-color: rgba(0, 173, 247, 0.5);
	position: relative;
	margin: 150px auto;
}

header.principal{
	position:relative;
	width: 100%;
	height: 200px;
	border-bottom: 1px solid black;
	background-color: #fff;
}

header.principal div.logo{
	position: relative;
	width: 150px;
	height: 150px;
	border: 1px solid #999;
	top: 25px;
	left: 25px;
	background-image: url(../assets/css.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

header.principal h1{
	position: absolute;
	top: 60px;
	left: 200px;
}

nav.nav_horizontal {
	border-bottom: 1px solid #000;
	background-color: #000;
}

nav.nav_horizontal ul{
	position: relative;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

nav.nav_horizontal li{
	position: relative;
	border: 0px;
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	vertical-align: top;
}

nav.nav_horizontal li a{
	position: relative;
	display: block;
	padding: 10px 20px;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
}

nav.nav_horizontal li a:hover{
	background-color: #00BFFF;
	color: #fff;
}

nav.nav_horizontal li a:active{
	background-color: #45FDE7;
	color: #253338;
}

#slideshow{
	position: relative;
	background-color: #fff;
	border:2px dotted #000;
	width: 700px;
	height: 250px;
	margin: 20px auto;
}

#slideshow button{
	background-color: #999999;
	width: 50px;
	height: 50px;
	border: 1px solid #454545;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: 100px;
}

button.prev{
	left: -25px;
}

button.next{
	right: -25px;
}
#slideshow button:hover{
	background-color: #102933 ;
	color: #FFFFFF;
}
#slideshow button:active{
	background-color: #000;
	color: #fff;
}

.col{
	display: inline-block;
	vertical-align: top;
	border: 1px solid #000;
	width: 310px;
	min-height: 200px;
	background-color: rgba(255,255,255,.7);
	border-top: 2px solid #000;
}

.col header{
	text-align: center;
}

.col header img{
	width: 60px;
	height: 60px;
	border: 2px solid #000;
	margin-top: -30px;
	background-color: #fff;
	border-radius: 50%;
}

div.cols{
	position: relative;
	margin-top: 20px;
	left: 30px;
}


div.cols p{
	padding: 20px;
	text-justify: auto;
}

footer.principal{
	position: absolute;
	background-color: #999;
	border: 1px solid #000;
	height: 50px;
	width: 100%;
	text-align: center;
}
