body{
  background-image: url(../assets/patron.jpg);
}

main{
  width: 1000px;
  min-height:200px;
  position: relative;
  background-color: rgba(0, 173, 247, 0.5);
  margin: 150px auto;
}

header.principal{
  position:relative;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid black;
  background-color: #fff;
}

header.principal div.logo{
	position: relative;
	width: 150px;
	height: 150px;
	border: 1px dotted #999;
	top: 25px;
	left: 25px;
	background-image: url(../assets/css.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

header.principal h1{
  position: absolute;
  top: 60px;
  left: 200px;
}

nav.nav_navegar{
  border-bottom: 1px solid #999;
  background-color: #000;
}

nav.nav_navegar ul{
  position: relative;
  border: 0px;
  padding: 0px;
  margin: 0px;
}

nav.nav_navegar li{
  position: relative;
  border: 0px;
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

nav.nav_navegar li a{
  position: relative;
  padding: 20px 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}
